.technic{
	width: 60vw;
	margin: 150px auto;
}
.technic__title{
	text-align: right;
	width: 100%;

}
.technic__img{
	margin-left: 4vw;
}
.technic__title h2{
	display: inline-block;
	width: 40vw;
	line-height: 150%;
}
.afterword{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 10vw;

}
.afterword__text1{
	width: 40vw;
	margin-bottom: 60px;

}
.afterword__text2{
	margin: 0 5vw;
	display: flex;
	justify-content: center;
	width: 100%;
}
.afterword__text2 h2{
	color: rgb(var(--other-color));
	width: 40vw;
}