.header {
	text-align: center;
	background: linear-gradient(180deg, rgba(var(--other-color), 0) 75%, rgba(var(--back-color), 1) 100%), 
					radial-gradient(100% 316.05% at 100% 0%, rgba(var(--back-color), 0.576) 47.92%, rgba(var(--addit-color), 0.344) 99.98%) , 
					url('../source/img/main_screen_back.jpg') 0.0/cover no-repeat ;
	min-height: 100vh;
}

.header__title {
	padding-top: 40vh;
}

.header-title__subtitle {
	margin-top: 10px;
	color: rgb(var(--other-color));
}

.container {
	max-width: 1170px;
	margin: auto;
}