.header {
	text-align: center;
	background: linear-gradient(180deg, rgba(var(--other-color), 0) 75%, rgba(var(--back-color), 1) 100%), 
					radial-gradient(100% 316.05% at 100% 0%, rgba(var(--back-color), 0.576) 47.92%, rgba(var(--addit-color), 0.344) 99.98%) , 
					url('../source/img/main_screen_back.jpg') 0.0/cover no-repeat ;
	min-height: 100vh;
}

.header__title {
	padding-top: 40vh;
}

.header__subtitle {
	margin-top: 10px;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.who-are-we{
	display: flex;
	justify-content: space-between;
}

.who-are-we__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85vw;
}

.who-are-we__text > *{
	margin-bottom: 26px;
}

.who-are-we__samurai {
	background: url("../source/img/who_are_we_screen.png") 100% / 100% no-repeat;
	width: 100%;
	margin-left: 5vw;
}

.technic{
	width: 60vw;
	margin: 150px auto;
}
.technic__block-title{
	width: 100%;
	text-align: right;
}
.technic__img{
	margin-left: 4vw;
}
.technic__title{
	display: inline-block;
	line-height: 150%;
}

.our-works{
	position: relative;
	margin: 150px auto;
}

.our-works__block-title{
	text-align: center;
}

.our-works__title{
	margin-bottom: 32px;
}

.our-works__examples-block{
	margin-top:8%;
	display: flex;
	justify-content: space-around;
}

.our-works__example{
	width: 250px;
	height: 450px;
	background-color: rgba(var(--back-color), 0.5);
}

.our-works__example1{
	width: 250px;
}

.our-works__gradient{
	position:absolute;
	top:-90px;
	z-index: -1;
	height: 140%;
	width: 100%;
	background: radial-gradient( at 100% 0%,
	  rgba(var(--addit-color), 1) 20%,
	  rgba(var(--back-color), 1) 65%);
	filter: blur(180px);
}

.team {
	padding: 0 50px;
}

.team h2 {
	width: 400px;
	padding-bottom: 80px;
}

.team-slider__item img {
	width: 243px;
	height: 355px;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 30px;
}

.team-slider__item {
	position: relative;
}

figcaption {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	top: 72%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 243px;
/*	 padding: 1em; */
	background-color: rgba(var(--back-color), 0.7);
	opacity: 0;
	transition: opacity .7s;
	border-radius: 0px 0px 30px 30px;
}

figcaption h3 {
	padding-top: 10px;
	font-size: 1rem;
}

figcaption p {
	font-size: 1rem;
	text-transform: uppercase;
	line-height: 20px;
}

figure:hover figcaption {
	opacity: 1;
}

.afterword{
	margin: 150px auto;
	width: 840px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 200px 200px;
	grid-template-areas: "A A ." ". B B";
}
.afterword__text:nth-child(1){
	grid-area: A;

}
.afterword__text:nth-child(2){
	grid-area: B;
}